<a href="https://colab.research.google.com/github/Bhiserahul/Full-Stack_1/blob/main/Version1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= int(input("Enter the score A - "));
b= int(input("Enter the score B- "));

if a>300 or b>300 and a+b<500:
  print ("Team Up");
else:
    print ("Can't Team Up");

Enter the score A - 400
Enter the score B- 50
Team Up

In [1]:
x = 10
if x > 5:
 print("Greater than 5")
if x < 15:
 print("Less than 15")

Greater than 5
Less than 15

In [2]:
a = 4
b = 10
z = 8
if a > b or b < z and z == 8:
 print("Success")
else:
 print("Fail")

Fail

In [3]:
s = "abc"
print(s * 0 + "def" * 2)

defdef

In [1]:
x = 0
y = 10
if x and y:
 print("Both are True")
else:
 print("At least one is False")

At least one is False

In [2]:
x = 5
y = 3
if not (x < y):
 print("True")
else:
 print("False")

True

In [30]:
Age = int(input("Enter the age of the Person"))
Mem = input("Enter the Membership Status as Y/N-")
if Age<18 or Age>65:
    print("Eligible for 20% discount ")
if Mem =="Y":
       if Age>=18 :
          if  Age<=30:
            print ("Elibigle for 10% discount")
          else:
              print ("Not Eligible for Discount")
else:
     print("Not Eligible for Discount")

Enter the age of the Person29
Enter the Membership Status as Y/N-Y
Elibigle for 10% discount

In [35]:
num= int(input("Enter the Number to check the divisibility of 3 & 5 -"));
if num %3==0:
  if num%5==0:
    print("Number is divisible by both 3 & 5")
  else:
    print("Number is divisible by 3 but not by 5")
else :
  if num%5==0:
    print("Number is divisible by 5 but not by 3")
  else:
    print("Number is not divisible by 3 & 5")

Enter the Number to check the divisibility of 3 & 5 -30
Number is divisible by both 3 & 5

In [ ]:
a = "rahul bhise";
print(a[3:8]);
print(a[-1:-6]);

ul bh

In [ ]:
a= "rahul bhise";
print(a[-9:-4]);
print(a[3:8]);

hul b
ul bh

In [ ]:
A= input("Enter a number to check divisibility of 7 -  ");
b= int(A[-1])*2;
d=len(A);
e=A[0:d-1];
f= int(e)-b;
if d==1 & int(A)%7 == 0:
   print ("Number is divisible by 7")
elif d>1 & f%7 == 0:
   print ("Number is divisible by 7");
else:
  print("Number is not divisible by 7");

print (d);
print (f);
print (e);

Enter a number to check divisibility of 7 -  2

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=input("Enter the sign chosen by Abhinav- ")
b=input("Enter the sign chosen by Rahul- ")
if a==b:
  print ("Match Draw")
elif a=="paper"and b=="rock":
   print("Abhinav Wins")
elif a=="scissior"and b=="paper":
   print("Abhinav Wins")
elif a=="rock"and b=="scissior":
   print("Abhinav Wins")
else:
  print("Rahul Wins")

Enter the sign chosen by Abhinav- rock
Enter the sign chosen by Rahul- rock
Match Draw

In [ ]:
a=int(input("Enter Number of Students in Class room"))
print("Number of Handshake is classroom ",a*(a-1)/2)

Enter Number of Students in Class room5
Number of Handshake is classroom  10.0

In [ ]:
a= int(input("Enter the Number of days - "))

if a <= 365:
  print("MM",int(a/30) ,"DD",int(a%30))
  print("MM", int(a/30), "WW",int(a%365/7),"DD",int(a%30))

else:
  print("YY",int(a/365) ,"MM",int(a%365/30),"DD",int(a%365)%30)
  print("YY",int(a/365),"WW",int(a%365/7),"DD",int(a%365)%7)

Enter the Number of days - 1000
YY 2 MM 9 DD 0
YY 2 WW 38 DD 4

In [ ]:
a=int(input("Enter the number of Units Consumed "))
if a<=50:
  print("Your Electricity Bill is ",(a*2)*1.2,"INR")
elif a>50 and a<=150:
  print("Your Electricity Bill is ",(50*2+(a-50)*3)*1.2,"INR")
elif a>50 and a<=250:
  print("Your Electricity Bill is ",(50*2+100*3+(a-150)*5)*1.2,"INR")
else:
  print("Your Electricity Bill is ",(50*2+100*3+100*5+(a-250)*8)*1.2,"INR")

Enter the number of Units Consumed 450
Your Electricity Bill is  3000.0 INR

In [ ]:
a= int(input("Enter the first Number "))
b= int(input("Enter the Second Number "))

if a==6 or b==6 or a+b==6 or a-b==6 or b-a==6:
  print("Lucky")

else:
 print("Not Lucky")

c= (a==6) or (b==6) or a+b==6
d= a-b==6 or b-a==6
if c==True or d==True:
  print("Lucky")
else:
  print("Not Lucky")

Enter the first Number 18
Enter the Second Number 12
Lucky
Lucky

In [ ]:
# Program to print first 10 even number
num= int(input("Enter the Number to print even numbers in reverse Order"))
for i in range(num,0,-1):
  if i%2==0:
    print(i)

#while num>0:
    print (num )

Enter the Number to print even numbers in reverse Order6
6
4
2

In [ ]:
a = int(input("Enter the Number to check the divisibility of 7"));
if a%7==0:
  print ("Number is divisible by 7");
else:
  print ("Number is not divisible by 7");

Enter the Number to check the divisibility of 77
Number is divisible by 7

In [ ]:
# SUM of first N odd Numbers.
a=int(input("Enter the Number to calculate summation of Odd number "))
total=0
i=1
while i<=a:
      total+=i
      i+=2

print(total)

Enter the Number to calculate summation of Odd number 12
36

In [ ]:
# Check the String is Palindrome or not#
String = input ("Enter the String to Check ")
rev=''
for char in String:
  rev=char+rev
if String==rev:
  print("String is Palindrome")
else:
  print("String is not Palindrome")

Enter the String to Check level
String is Palindrome

In [ ]:
# To Calculte HCF of the given 2 numbers
num1 = int(input("Enter the first Number "))
num2 = int(input("Enter the Second Number "))
while num2 != 0:
  num1, num2 = num2, num1 % num2;

print(num1)

Enter the first Number 11
Enter the Second Number 23
1

In [ ]:
#Sum of Sum of the Natural Numbers
#1 + 1+2 + 1+2+3 + 1+2+3+4 + ..........+ 1+2+3+4+......n
num1= int(input("Enter the Number to find the sum of sum of natural numbers "))
k=0
for i in range(1,num1+1):
  for j in range(1,i+1):
    k+=j
    print(j)
print ("The Summation is - ",k)

Enter the Number to find the sum of sum of natural numbers 3
1
1
2
1
2
3
The Summation is - 10

In [ ]:
# Program to calculate remainder without %,/, //
num1= int(input("Enter the first Number "))
num2= int(input("Enter the Second Number "))

def fun(num1,num2):
    if num1<num2:
       return(num1)
    return fun(num1-num2,num2)
print (fun(num1,num2))
print (num1%num2)
#print (num1//num2)
#print (num2%num1)
#print (num2//num1)

Enter the first Number 45
Enter the Second Number 2
1
1

In [ ]:
# Sum the Series like 2^0+2^1+2^2+2^3+.......2^n-1
#Using recursive Method ----1
#Using Iterative Method ----2
n=int(input("Enter the Number to calculate the sum series "))
def iterative(n):
  total=0
  for i in range(n):
   total += 2**i
  return total

print ("Iterative n",(iterative(n)))

def recursive(n):
  if n==1:
    return 1
  return 2**(n-1)+recursive(n-1)

print ("Recursive n",(recursive(n)))

Enter the Number to calculate the sum series 2
Iterative n 3
Recursive n 3

In [ ]:
num= int(input("Enter the KM covered to calculate the bill "))
if num<=10:
  print ("You Travel",num,"KM","Bill Amount is ",num*11)

elif num>10 and num <=100:
  print ("You Travel",num,"KM","Bill Amount is ", num*10)
else:
  print ("You Travel",num,"KM","Bill Amount is ", num*9)

Enter the KM covered to calculate the bill120
Bill Amount is  1080

In [ ]:
# Vowel from Input String
Int_String=input("Enter the string ").lower()
vowel=0
for char in Int_String:
  if char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
    vowel+=1
print(" Vowel Count is ",vowel)

Enter the string INDIAN
 Vowel Count is  3